{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Bonjour - Home</h1>
<a href="/logout">Deconnexion</a>
<br>
<a href="/admin">Admin</a>

{% endblock %}
