<footer class="flex flex-col w-full items-center justify-center bg-gray-500 text-gray-100 p-3">
    <img class="w-52" src="https://spacecoder.fun/assets/images/logo/logo1.png" alt="logo">
    <p class="version">Version </p>
    <p>Copyright © - All Right Reserved</p>
    <p>Pasker - 2023 <br></p>
</footer>