{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Tableau de bord{% endblock %}

{% block content_title %}Tableau de bord{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="">Rafraichir</a>
{% endblock %}

{% block main %}





<pre>
    {{ dump(ea) }}
</pre>
{% endblock %}