{% extends 'mail/base.html.twig' %}

{% block title %}{{subject}}{% endblock %}

{% block body %}


<main>
    <p>Hello, {{pseudo}} !</p>

    <p>Vous venez de faire une demande de restauration de mot de passe.</p>
    <p>Votre mot de passe a été changé avec succès.</p>
    <p>Vous pouvez désormais l’utiliser pour vous connecter au site.</p>
	<p class="text-center">
		<a href="{{ absolute_url(path('login')) }}" class="btn btn-primary mt-3">SE CONNECTER</a>
	</p>
	<br>
    <p>Cordialement, l'équipe SpaceCoder.</p>
</main>

{% endblock %}
