{% extends 'base.html.twig' %}

{% block title %}SpaceCoder{% endblock %}

{% block body %}

    <div class="bg-vantablack min-h-screen md:h-screen relative">
        <div class="container m-auto flex md:flex-row flex-col pb-20 md:pb-0 items-center justify-center py-5 h-full">
            <div class="flex-1 flex h-min items-center my-10 md:my-0 justify-center max-w-lg">
                <img src="/image/neptune.png" alt="Neptune" class="md:w-full">
            </div>
            <div class="flex-1 flex flex-col justify-center ml-5 max-w-lg text-gray-400">
                <h1 class="hero">Neptune</h1>
                <p class="hero-text">Elle possède dans ses profondeurs des pressions atteignant les 600 GPa et des
                    températures avoisinant les 7000 °C. Ainsi, le carbone contenu dans les hydrocarbures de la planète
                    pourrait se transformer en diamants.</p>
                <p class="hero-text">Nous n'avons pas ces températures ni ces pressions, mais nous avons des ressources
                    diamantées.</p>
                <p class="hero-text">So, Welcome to <span class="brand">SpaceCoder 3</span>.</p>
            </div>
        </div>
        <div class="absolute bottom-5 right-5"><span class="brand text-gray-500">SpaceCoder 3</span></div>
    </div>

    <div class="bg-gray-100 min-h-screen md:h-screen relative">
        <div class="container m-auto flex md:flex-row pb-20 md:pb-0 flex-col-reverse py-5 h-full">

            <div class="flex-1 flex flex-col justify-center ml-5 max-w-lg">
                <h1 class="hero text-purple">Nouvelle UI.</h1>
                <p class="hero-text">Nous avons refait les interfaces graphiques et les composants graphiques pour être
                    plus cohérent et améliorer votre expérience sur notre site.</p>
                <p><a href="{{ path('ui') }}" class="btn btn-primary text-2xl mt-4">VOIR L'UI</a></p>
            </div>
            <div class="flex-1 flex items-center my-10 md:my-0 justify-center">
                <img src="/favicon.svg" alt="SpaceCoder" class="md:w-full max-w-2xl w-64">
            </div>
        </div>
        <div class="absolute bottom-5 right-5"><span class="brand text-gray-300">SpaceCoder 3</span></div>
    </div>

    <div class="bg-purple min-h-screen md:h-screen relative">
        <div class="container m-auto flex md:flex-row pb-20 md:pb-0 flex-col py-5 h-full">
            <div class="flex-1 flex items-center my-10 md:my-0 justify-center">
                <img src="/image/woman-walks.png" alt="Woman walks" class="md:w-full max-w-2xl w-72 object-cover">
            </div>

            <div class="flex-1 flex flex-col justify-center ml-5 max-w-lg text-gray-100">
                <h1 class="hero text-white">Ressources ?</h1>
                <p class="hero-text">Nous avons cherché sur internet une vaste panoplie de ressources qui peuvent vous
                    aider et vous pouvez les utiliser à votre aise, quand et où vous voulez !</p>
                <p><a href="{{ path('ressource') }}" class="btn btn-secondary text-2xl mt-4">VOIR LES RESSOURCES</a></p>
            </div>
        </div>
        <div class="absolute bottom-5 right-5"><span class="brand text-gray-300">SpaceCoder 3</span></div>
    </div>

    <div class="bg-gray-100 min-h-screen md:h-screen relative">
        <div class="container m-auto flex md:flex-row pb-20 md:pb-0 flex-col-reverse py-5 h-full">

            <div class="flex-1 flex flex-col justify-center ml-5 max-w-lg">
                <h1 class="hero text-purple">Mon compte alors ?</h1>
                <p class="hero-text">Vous avez un compte sur SpaceCoder ? Il existe toujours ! Essayez de vous connecter
                    avec vos identifiants pour le découvrir !!</p>
                <p><a href="{{ path('login') }}" class="btn btn-primary text-2xl mt-4">SE CONNECTER</a></p>
            </div>
            <div class="flex-1 flex items-center my-10 md:my-0 justify-center">
                <img src="/image/woman-without-bg.png" alt="Woman" class="md:w-full max-w-2xl w-72 object-cover">
            </div>
        </div>
        <div class="absolute bottom-5 right-5"><span class="brand text-gray-300">SpaceCoder 3</span></div>
    </div>

    <div class="bg-purple min-h-screen md:h-screen relative">
        <div class="container m-auto flex md:flex-row flex-col pb-20 md:pb-0 items-center justify-center py-5 h-full">
            <div class="flex-1 flex items-center my-10 md:my-0 justify-center">
                <img src="/image/people.png" alt="Neptune" class="md:w-full max-w-2xl w-80">
            </div>

            <div class="flex-1 flex flex-col justify-center ml-5 max-w-lg text-gray-100">
                <h1 class="hero text-white">A venir .../</h1>
                <p class="hero-text">Pour continuer à vous impliquer dans notre projet, nous réalisons plusieurs
                    mini-projets pour vous aider dans votre vie de tous les jours.</p>
                <p class="hero-text">Il suffit de continuer de nous faire confiance.</p>
            </div>
        </div>
        <div class="absolute bottom-5 right-5"><span class="brand text-gray-300">SpaceCoder 3</span></div>
    </div>


    <div class="bg-vantablack min-h-screen md:h-screen relative">
        <div class="container m-auto flex md:flex-row pb-20 md:pb-0 flex-col-reverse py-5 h-full">

            <div class="flex-1 flex flex-col justify-center mt-10 ml-5 max-w-lg text-gray-400">
                <h1 class="hero text-white">DevSpace</h1>
                <p class="hero-text">Vous êtes développeur ou juste curieux ? La DevSpace vous permet de découvrir les
                    concepts clé qui nous permettent de faire fonctionner notre site.</p>
                <p><a href="" class="btn btn-primary-outlined text-2xl mt-4">DEVSPACE</a></p>
            </div>
            {# <div class="flex-1 flex items-center my-10 md:my-0 justify-center">
			<img src="/favicon.svg" alt="Neptune" class="md:w-full max-w-2xl w-64">
		</div> #}
        </div>
        <div class="absolute bottom-5 right-5"><span class="brand text-gray-300">SpaceCoder 3</span></div>
    </div>

{% endblock %}
