{% extends 'servant/base.html.twig' %}

{% block title %}Projet Servant{% endblock %}



{% block body %}

    <div class="bg-gray-100 p-4 flex flex-col justify-center h-80 rounded mb-5 border">
        <h1 class="text-5xl">Projet Servant</h1>
        <p class="text-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit labore vitae quibusdam quod cumque iusto quasi. Doloremque debitis aliquam laudantium. Sequi molestias perferendis inventore consequuntur veritatis, vero sint aspernatur est.</p>
    </div>

    <div class="bg-gray-100 p-4 rounded border">

        <h3 class="text-3xl">Liste des Diocèses</h3>
        <hr>
        <div class="flex flex-wrap gap-5 py-5">
            {% for diocese in dioceses %}
                <div class="w-60 rounded border">
                    <div class="h-32 bg-cover bg-center rounded-t" style="background-image: url('{% if diocese.image %}/data/servant/images/{{diocese.image}}{% else %}/favicon.svg{% endif %}')">
                    </div>

                    <a class="p-2 block hover:text-purple-500" href="{{ path('servant_diocese', {id: diocese.id}) }}">{{diocese.name}}</a>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
