/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import 'https://fonts.googleapis.com/css2?family=Noto+Sans&wght@500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap';
/* ****************************************************** */
/*                          BASE                         */
/* ****************************************************** */
body{
    background-color: #f6f6f6;
    background-image: url("/assets/image/background.svg");
}
body.debug{
    @apply bg-white;
    @apply sm:bg-red-light;
    @apply md:bg-yellow-light;
    @apply lg:bg-green-light;
    @apply xl:bg-blue-light;
    @apply 2xl:bg-gray-500;
}

.version:after{
    @apply content-['3.1'];
}

html{
    @apply scroll-smooth;
}

.main{
    min-height: calc(100vh - 150px);
}

.logo{
    @apply w-10 h-10 object-contain cursor-pointer mx-4 hidden;
}

.brand{
    font-family: 'Bungee Inline', cursive;
    @apply font-thin text-xl uppercase tracking-widest cursor-pointer select-none;
}

/* BUTTON */
.btn{
    @apply select-none p-3 mx-auto cursor-pointer rounded shadow-md inline-block w-fit text-center transition ease-in-out;
}
.btn:hover{
    @apply delay-150 shadow-lg;
}

.btn.btn-primary{
    @apply bg-purple text-white hover:bg-purple-light;
}

.btn.btn-secondary{
    @apply bg-gray-100 border-gray-200 border text-gray-500 shadow-sm;
}

.btn.btn-danger{
    @apply bg-red text-white;
}
.btn.btn-danger:hover{
    @apply bg-red-light;
}

.btn.btn-disable{
    @apply bg-gray-300 text-gray-500 shadow-none cursor-not-allowed;
}
.btn.btn-disable:hover, .btn.btn-loading:hover {
    @apply shadow-none;
}
.btn.btn-loading{
    @apply bg-gray-300 text-gray-500 shadow-none cursor-wait;
}
.btn.btn-primary-outlined{
    @apply bg-white border border-purple;
}
.btn.btn-primary-outlined:hover{
    @apply bg-purple text-white;
}
.btn.big{
    @apply text-2xl;
}
.btn.small{
    @apply text-sm p-2;
}
.btn.left{
    @apply block;
}
.btn.right{
    @apply text-right;
}
.btn.center{

}
.btn-mini{
    @apply select-none font-bold px-1 cursor-pointer rounded mx-2 my-1 bg-transparent-purple;
}
.btn-mini:hover{
    @apply shadow-md;
}


/* LOADER */
.loader{
    @apply inline-block w-10 h-10 border-0 border-purple border-t-2 rounded-full animate-spin;
}
.loader.mini{
    @apply w-4 h-4 mx-2; 
}
.loader.large{
    @apply w-20 h-20; 
}
.loader.bigger{
    @apply w-40 h-40; 
}


/* BACK TO TOP BTN */
.back-to-top{
    @apply fixed bottom-10 shadow-lg shadow-purple-dark right-10 rounded hidden justify-center items-center w-10 h-10 z-20 bg-purple stroke-white cursor-pointer;
}

/* LINK */
.link{
    @apply flex max-w-md justify-between items-center rounded p-2 my-3 text-lg shadow-md shadow-transparent-purple border-b-purple border border-t-0 border-x-0;
}
.link:hover{
    @apply bg-transparent-purple;
}
.link-brand{
    @apply flex justify-start items-center;
}
.link-brand img{
    @apply icon mx-2 w-10 h-10;
}


/* ICON */
.icon{
    @apply w-5 h-5 inline-block;
}

.icon.clickable{
    @apply text-purple transition ease-in-out delay-75;
}
.icon.clickable:hover{
    @apply text-purple-light;
}

.bling{
    @apply bg-yellow text-gray-100;
}

/* TEXT */
.text-link{
    @apply underline text-purple transition ease-in-out delay-100;
}
.text-link:hover{
    @apply text-purple-light delay-75;
}
.text-link.out:after, a[target="_blank"]:after{
    @apply content-out inline-block w-4 h-4 ml-1;
}
.text-link.danger{
    @apply text-red;
}
.text-link.danger:hover{
    @apply text-red-light;
}

/* TITLE */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
    @apply font-bold block my-2
}

h1, .h1{
    @apply text-3xl;
}
h2, .h2{
    @apply text-2xl;
}
h3, .h3{
    @apply text-xl;
}
h4, .h4{
    @apply text-lg;
}
p, .p{
    @apply text-base my-1;
}
.hero{
    @apply text-5xl font-bold my-4 capitalize block;
}
.hero-text{
    @apply text-2xl block my-2;
}

.rho{
    @apply font-mono font-thin slashed-zero text-green text-sm align-middle rounded p-0 m-0;
}
.rho:after{
    @apply content-['ρ']; 
}


/* TEXT FORMAT */
.text-format{
    @apply text-justify;
}

.text-format h1{
    @apply mt-16;
}
.text-format p{
    @apply my-4;
}

.text-format a{
    @apply text-link;
}

.text-format ul{
    @apply list-disc list-inside;
}

/* USER EDIT AVATAR */
.avatar{
    @apply object-cover cursor-pointer rounded-full;
}
.avatar-edit{
    @apply rounded-full border-0 flex justify-end items-end cursor-pointer w-fit;
}
.avatar-edit .avatar{
    @apply z-10;
}
.avatar-edit:after {
    @apply content-edit-img absolute rounded-full bg-purple w-12 h-12 z-20 flex justify-center items-center;
}

/* USER COUNTRY AVATAR  */
.avatar-country{
    @apply relative block w-fit;
}
.avatar-country.big .country-flag{
    @apply bottom-3 right-3;
}
.avatar-country.semi .country-flag{
    @apply bottom-1 right-1;
}
.country-flag{
    @apply block rounded absolute bottom-3 right-3;
}

/* FOR COMMENTS */
.avatar.small{ 
    @apply w-8 h-8 m-2 border;
}
/* HEADER */
.avatar.blink{
    @apply w-8 h-8 outline-2 outline outline-offset-1 outline-purple;
}
.avatar.semi{
    @apply w-20 h-20 border;
}
.avatar.big{
    @apply w-40 h-40 border;
}


/* FILTRE */
.filter{
    @apply bg-white w-fit border rounded hidden items-center flex-col;
}
.filter-icon{
    @apply w-8 h-8 m-2 cursor-pointer;
}
.filter-items{
    @apply flex w-full cursor-pointer flex-col;
}

.filter .item{
    @apply justify-center py-3 items-center w-full px-5;
}
.filter .item:hover{
    @apply bg-transparent-purple;
}
.filter .item.active{
    @apply border-l-4 border-y-0 border-r-0 border-purple;
}

.filter .search, .search{
    @apply justify-center items-center my-0 flex relative;
}
.filter .search{
    @apply max-w-fit min-w-max w-fit;
}
.filter .search input, .search input{
    @apply m-0 h-full w-full rounded-l-none border-b-0 border-l-0  text-gray-500;
}
.search input{
    @apply rounded border;
}
.filter .search button, .search button{
    @apply absolute right-0 p-3 m-0 h-full w-12 bg-purple-light;
}


/* BREADCRUMB */
.breadcrumb{
    @apply text-gray-500 my-3 text-sm block;
}
.breadcrumb .breadcrumb-list {
    @apply p-1;
}
.breadcrumb .item{
    @apply inline;
}
.breadcrumb .item a{
    @apply  rounded underline-offset-2 underline;
}
.breadcrumb .item a:hover{
    @apply bg-transparent-purple no-underline;
}
.breadcrumb .item:after{
    @apply content-['>'] mx-2 text-gray-400;
}
.breadcrumb .item:last-child:after{
    @apply content-[''];
}
.breadcrumb .item.active a{
    @apply cursor-text select-all no-underline p-1 text-left text-purple;
}
.breadcrumb .item.active a:hover{
    @apply bg-transparent;
}



/* ALERTS */
.alert-line{
    @apply block p-3 text-gray-500;
}
.alert, .alert-line{
    @apply flex items-center border-2 border-y-transparent border-r-transparent shadow-md bg-gray-100 my-3;
}
.alert .icon{
    @apply m-5;
}
.alert div{
    @apply flex flex-col flex-1;
}
.alert .alert-title{
    @apply h3;
}
.alert .alert-content{
    @apply pr-3 pb-2 text-gray-500;
}
/* ALERT INFO */
.alert.alert-info, .alert-line.alert-info{
    @apply border-l-blue bg-transparent-blue;
}
.alert.alert-info .alert-title, .alert.alert-info .icon{
    @apply text-blue-dark;
}
/* ALERT SUCCESS */
.alert.alert-success, .alert-line.alert-success{
    @apply border-l-green bg-transparent-green;
}
.alert.alert-success .alert-title, .alert.alert-success .icon{
    @apply text-green-dark;
}
/* ALERT DANGER */
.alert.alert-danger, .alert-line.alert-danger{
    @apply border-l-red bg-transparent-red;
}
.alert.alert-danger .alert-title, .alert.alert-danger .icon{
    @apply text-red-dark;
}
/* ALERT WARNING */
.alert.alert-warning, .alert-line.alert-warning{
    @apply border-l-yellow bg-transparent-yellow;
}
.alert.alert-warning .alert-title, .alert.alert-warning .icon{
    @apply text-yellow-dark;
}


/* PAGINATION */
.pagination{
    @apply flex text-gray-500 text-2xl my-5;
}
.pagination .next, .pagination .prev, .pagination .first, .pagination .last{
    @apply flex items-center justify-center mx-3;
}
.pagination .next a:after, .pagination .prev a:after, .pagination .first a:after, .pagination .last a:after{
    @apply flex items-center justify-center;
}
.pagination .next a:after{
    @apply content-next;
}
.pagination .prev a:after{
    @apply content-prev;
}
.pagination .first a:after{
    @apply content-first;
}
.pagination .last a:after{
    @apply content-last;
}
.pagination .page a, .pagination .page span{
    @apply mx-1 px-2 py-1 border border-transparent;
}
.pagination .page a{
    @apply bg-gray-200;
}
.pagination .page a:hover{
    @apply bg-transparent-purple border-purple-light;
}
.pagination .page span{
    @apply border-b-purple-dark;
}


/* TOAST BOX */
.toast-box{
    @apply fixed flex justify-end flex-col gap-3 bottom-0 right-0 w-96 z-50 m-5;
}

/* TOAST */
.toast{
    @apply relative w-full bg-gray-100 z-50 border shadow rounded; 
}
.toast-header{
    @apply flex gap-3 items-center justify-start py-1 p-2 bg-gray-200;
}
.toast-content{
    @apply p-2;
}
.toast-close{
    @apply cursor-pointer w-6 h-6 absolute top-0 right-0 m-1;
}
.toast.danger .toast-header, .toast.danger svg{
    @apply bg-red text-white stroke-white;
}
.toast.info .toast-header, .toast.info svg{
    @apply bg-blue text-white stroke-white;
}
.toast.success .toast-header, .toast.success svg{
    @apply bg-green text-white stroke-white;
}




/* ****************************************************** */
/*                           CARDS                        */
/* ****************************************************** */

/* PROJET CARD */
.project-card{
    @apply flex flex-col relative bg-gray-100 p-4 max-w-lg rounded shadow-md m-4 border pb-16;
}
.project-card:hover{
    @apply border-purple;
}
.project-card .title{
    @apply flex flex-col;
}
.project-card img{
    @apply w-full rounded;
}
.project-card .author{
    @apply my-2 block border-l-purple border border-y-gray-100 border-r-gray-100 pl-4;
}
.project-card .visit{
    @apply text-gray-500 block text-right text-sm;
}
.project-card .footer{
    @apply flex items-center justify-between absolute bottom-0 my-2 w-11/12;
}

/* RESSOURCE CARD */
.ressource-card{
    @apply shadow-md min-h-max rounded m-4 shadow-transparent-purple backdrop-blur-md cursor-pointer text-gray-100;
}
.ressource-content{
    @apply bg-transparent-black backdrop-blur-sm h-full rounded flex flex-col items-start justify-start p-3 pb-8 transition-all duration-150 border border-transparent;
}
.ressource-content:hover{
    @apply bg-transparent-black-dark transition-all duration-150 border border-purple;
}
.ressource-title{
    @apply h2 text-white mb-2;
}
.ressource-clicks{
    @apply text-sm mt-8 flex w-full justify-end absolute bottom-0 right-0 m-2;
}

/* TUTORIEL CARD */
.tuto-card{
    @apply bg-gray-100 relative m-4 pb-5 rounded shadow-md cursor-pointer border hover:border-purple;
}
.tuto-card-header{
    @apply flex justify-between items-center p-4 pb-0 text-gray-500 text-sm rounded;
}
.tuto-card-footer{
    @apply p-4 flex justify-between text-xs text-gray-500 bottom-0 absolute w-full;
}
.tuto-card-body{
    @apply p-4 flex flex-col justify-between pb-10;
}
.tuto-card-description{
    @apply text-gray-500 border pl-2 border-l-purple-light border-y-0 border-r-0;
}
.tuto-card-title{
    @apply my-5;
}
.tuto-card-title:hover{
    @apply text-purple-dark;
}





/* ****************************************************** */
/*                           FORMS                        */
/* ****************************************************** */

/* FORM */
.form-control {
    @apply flex-1 flex flex-col justify-start py-2 text-gray-500 max-w-md;
}
.form-input{
    @apply inline-block rounded border border-gray-300 p-3;
}
.form-input::placeholder {
    @apply text-gray-200;
}
.form-input:focus, .form-select-date select:focus{
    @apply shadow-md border-transparent outline-none ring-purple
}
.form-control label.required:after{
    @apply content-['*'] text-red mx-2;
}

.form-input.disabled, .form-input[readonly="readonly"], .form-input[readonly]{
    @apply bg-gray-300; 
}

.form-control label{
    @apply cursor-pointer select-none flex flex-row items-center;
}

.form-control [type="checkbox"]{
    @apply w-5 h-5 mr-3 text-purple ring-purple;
}

/* FILE */
[type="file"]{
    @apply p-3 file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:cursor-pointer file:text-purple;
}
[type="file"]:file{
    @apply mr-4 py-2 px-4 rounded-full border-0 text-sm font-semibold bg-purple text-white;
}

/* INVALID FORM */
.form-input:invalid, .invalid-input, .form-control.invalid .form-input{
    @apply ring-red border-red;
}
.feedback{
    @apply text-sm block mx-1 text-red;
}
.feedback.mute{
    @apply text-gray-500;
}


/* FORM ERRORS */
.form-control ul li {
    @apply feedback; 
    @apply flex items-center;
}
.form-control ul li:before{
    @apply content-error mx-2 inline-flex justify-center items-center;
}

/* SELECT DATE INPUT */
.form-select-date{
    @apply flex gap-2;
}
.form-select-date select{
    @apply rounded border border-gray-300;
}
/* HELP TEXT */
.help-text{
    @apply text-sm mx-1 text-gray-500 flex items-center;
}
.help-text:before{
    @apply content-info mx-2 flex justify-center items-center;
}

/* TOGGLE SWITCH */




/* PASSWORD INPUT */
[is="password-input"] div{
    @apply flex max-w-md;
}
[is="password-input"] div input{
    @apply flex-1 border-r-gray-200 rounded-r-none border-r-0;
}
[is="password-input"] div button{
    @apply w-auto text-gray-100 bg-purple border-purple p-3 border;
}

/* FORM COPY */
.form-copy {
    @apply flex max-w-md my-3;
}

.copy-input {
    @apply flex-1 font-mono text-gray-500 overflow-auto bg-gray-200 max-w-md border-none;
}
.copy-btn{
    @apply bg-purple p-3 text-gray-100 w-auto;
}
.copy-btn.copied{
    @apply bg-green;
}
.copy-btn.not-copied{
    @apply bg-red ;
}



/* ****************************************************** */
/*                       LOGIN FORM                       */
/* ****************************************************** */

.login{
    @apply flex items-center justify-center h-screen;
}

.login-card{
    @apply m-auto flex flex-col backdrop-blur-xl shadow-lg rounded;
}

.login-img{
    @apply hidden;
}

.login-img img{
    @apply object-cover h-full;
}

.login-form{
    @apply flex-1 flex flex-col justify-center p-5;
}





/* ****************************************************** */
/*                       HEADER                           */
/* ****************************************************** */

.header{
    @apply container m-auto flex justify-between items-center p-3 z-40;
}

.header-box{
    @apply flex w-full;
}

.header-title{
    @apply flex items-center justify-start w-full font-medium;
}

.header-context{
    @apply flex justify-between items-center;
}

.header-search-bar{
    @apply flex flex-col items-center justify-start backdrop-blur-xl bg-white/50 w-full h-full inset-0 z-40 fixed;
}
.header-search-bar.is-visible{
    @apply hidden;
}

.header-nav{
    @apply fixed z-40 inset-0 items-start flex-col justify-start p-3 backdrop-blur-xl bg-white/50;
}

.header-nav-list{
    @apply flex items-start justify-center flex-col h-full text-4xl ml-10;
}

.header-nav-list li a {
    @apply p-1 my-5;
}

.header-nav-list li:hover, .header-nav-list li:hover .icon, .header-nav-list li.focus {
    @apply text-purple transition-all;
}

.header-nav-list .icon{
    @apply w-6 h-6 inline mr-4 text-gray-500;
}

.header .account-link{
    @apply p-3 w-full h-full flex items-center gap-3;
}
.header .account-link:hover{
    @apply bg-transparent-purple;
}
.header .account-link.logout{
    @apply bg-transparent-red text-red;
}
.header .account-link.logout:hover{
    @apply bg-red text-white;
}

/* HIDE & SHOW */
.show-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


/* SEARCH BAR */
.search-form{
    @apply mx-4 items-center;
}

.search-label {
    @apply cursor-pointer; 
}



/* ****************************************************** */
/*                       TUTO                             */
/* ****************************************************** */

.tuto{
    @apply z-0 my-3 rounded mx-auto w-auto;
}
.tuto-header, .tuto-body{
    @apply container rounded col-span-5 mx-auto ;
}
.tuto-header{
    @apply mb-6 px-4 py-2 bg-gray-100 shadow-md;
}
.tuto-body{
    @apply grid grid-flow-row gap-5;
}


.tuto-content{
    @apply p-4 col-span-1 bg-gray-100 shadow-md;
}


.tuto .credits{
    @apply flex col-span-1 flex-col p-5 rounded bg-transparent-gray text-gray-500 backdrop-blur-sm shadow-md;
}
.tuto .credits p{
    @apply my-2;
}
.tuto .credits a{
    @apply text-link;
}



/* LISTS */
.tuto ul {
    @apply list-disc list-inside ml-4;
}
.tuto ol {
    @apply list-decimal;
}

/* KBD */
.tuto kbd{
    @apply bg-transparent-gray p-2 rounded shadow-sm;
}

/* COMMENT */
.comments{
    @apply container mx-auto flex flex-col bg-gray-100;
}
.comment-form{
    @apply p-6;
}
.comment-list{
    @apply p-0;
}
.comment{
    @apply px-6 py-2;
}
.comment-info{
    @apply flex justify-start my-1;
}
.comment-info img{
    @apply text-red;
}
.comment-info .author{
    @apply text-lg;
}
.comment-info .date {
    @apply text-gray-500 text-sm;
}
.comment-info a{
    @apply text-link;
}
.comment-content{
    @apply  bg-transparent-gray backdrop-blur p-3 rounded max-w-xl w-fit; 
}



.tuto p {
    @apply my-4;
}
.tuto-title{
    @apply pt-10 pb-14  w-full m-0;
}


/* READ ALSO */
.tuto .read-also{
    @apply my-8 p-3 max-w-md block text-sm rounded shadow-md shadow-transparent-purple border-b-purple border border-t-0 border-x-0;
}
.tuto .read-also .step-title{
    @apply h4;
    @apply inline;
}
.tuto .read-also:hover{
    @apply bg-transparent-purple;
}



/* FIGURES */
.tuto figure{
    @apply block max-w-sm relative rounded p-3 bg-transparent-gray m-auto my-7;
}
.tuto figcaption:before{
    @apply opacity-0 bg-transparent-black-light absolute cursor-pointer inset-0 content-play content-center flex items-center justify-center ease-in-out duration-100;
}
.tuto figure:hover figcaption:before{
    @apply opacity-100 ease-in-out duration-300;
}
.tuto figure figcaption{
    @apply text-sm text-gray-500 text-center mt-2;
}
.tuto figure img{
    @apply w-fit h-fit object-cover;
}


/* TUTO STEPS */
.tuto-step{
    @apply flex flex-col ;
}
.step{
    @apply flex;
}
.step-number{
    @apply p-2 m-3 mt-8 w-10 h-10 bg-gray-300 rounded flex justify-center items-center;
}
.step-content{
    @apply p-3;
}
.step-title{
    @apply h3;
}


/* THANKS */
.thanks{
    @apply flex justify-center items-center my-10;
}


/* INTRO */
.tuto .intro {
    @apply text-lg mb-5;    
}

/* TUTO META */
.tuto .meta {
    @apply text-sm text-gray-500 flex justify-end;
}
.tuto .meta span{
    /* @apply ml-5; */
}
.tuto .meta span:after{
    @apply content-['•'] mx-5 text-lg;
}
.tuto .meta span:last-child:after{
    @apply content-[''] mx-0;
}


/* TUTO CAROUSEL */
.carousel{
    @apply fixed hidden overflow-hidden grid-cols-2 justify-center items-center p-5 inset-0 bg-transparent-black backdrop-blur min-h-full h-full z-50;
    z-index: 999;
}
.carousel .close{
    @apply text-white text-sm m-3 p-3 border border-white w-fit fixed top-0 right-0 cursor-pointer;
}
.carousel.open{
    @apply grid ease-in-out duration-500 overflow-scroll ;
}
.carousel .prev, .carousel .next{
    @apply text-white p-10 border border-white m-auto auto-cols-min h-fit w-fit flex justify-center items-center cursor-pointer;
}
.carousel .prev svg, .carousel .next svg{
    @apply icon;
}
.carousel .prev:hover, .carousel .next:hover {
    @apply scale-105;
}
.carousel .content {
    @apply order-first col-span-2 w-full flex flex-col items-center justify-center;
}
.carousel .content .title{
    @apply text-white py-5 block text-center;
}
.carousel .content img{
    @apply w-fit object-cover;
}



/* ****************************************************** */
/*                           MD SCREEN                   */
/* ****************************************************** */

@screen md {

    .brand{
        @apply text-3xl;
    }

    /* TOAST BOX */
    .toast-box{
        @apply m-5 gap-5;
    }

    /* TOAST */
    .toast-header{
        @apply py-2 p-4 gap-5;
    }
    .toast-content{
        @apply p-4;
    }


    /* ****************************************************** */
    /*                       LOGIN FORM                       */
    /* ****************************************************** */

    .login-card{
        @apply flex-row;
    }
    .login-img{
        @apply block flex-1;
    }





    /* ****************************************************** */
    /*                       HEADER                           */
    /* ****************************************************** */

    .header{
        @apply container mt-5;
    }

    .header-box{
        @apply flex-row-reverse justify-end;
    }

    .header-title{
        @apply w-auto;
    }

    .header-context{
        @apply flex-row-reverse w-full;
    }
    

    .header-nav{
        @apply p-1 flex static z-0 flex-row w-full backdrop-blur-none;
    }

    .header-nav-list{
        @apply flex-row ml-auto text-base;
    }

    .header-nav-list li a {
        @apply my-0 mx-2;
    }
    .header-nav-list li:last-child{
        @apply hidden;
    }

    .header-nav-list .icon{
        @apply mr-1 w-4 h-4;
    }


    /* SEARCH BAR */
    .search-label {
        @apply p-3;
    }

    /* FILTRE */
    .filter{
        @apply flex text-xl border-r-0 h-12 flex-row;
    }
    .filter-icon{
        @apply m-4;
    }
    .filter-items{
        @apply h-full w-max flex-row;
    }

    .filter .item{
        @apply py-0 max-w-fit min-w-max w-fit flex;
    }
    .filter .item.active{
        @apply border-b-4 border-x-0 border-t-0;
    }
    .search input{
        @apply border-y;
    }
    .filter .search input{
        @apply border-y-0 border-l;
    }



    /* ****************************************************** */
    /*                       TUTO                             */
    /* ****************************************************** */

    .tuto{
        @apply grid;
    }
    .tuto-body{
        @apply grid-flow-col;
    }


    .tuto-content{
        @apply col-span-10;
    }

    .tuto .credits{
        @apply h-fit flex col-span-1;
    }



    /* COMMENT */
    .comments{
        @apply flex-row;
    }
    .comment-form{
        @apply basis-1/3;
    }
    .comment-list{
        @apply basis-2/3 border border-y-0 border-r-0;
    }


    /* TUTO CAROUSEL */
    .carousel{
        @apply grid-cols-5 justify-center;
    }
    .carousel .close{
        @apply text-base m-6 p-6;
    }
    .carousel .content {
        @apply order-none col-span-3;
    }
}


/* ****************************************************** */
/*                           LG SCREEN                   */
/* ****************************************************** */
@screen lg {

    /* ****************************************************** */
    /*                       LOGIN FORM                       */
    /* ****************************************************** */

    .login-card{
        @apply max-w-2xl;
    }

    /* ****************************************************** */
    /*                       HEADER                           */
    /* ****************************************************** */

    .header-nav-list li:last-child{
        @apply block;
    }
}