{% extends 'base.html.twig' %}

{% block title %}Ereur 404{% endblock %}

{% block body %}
    <div class="container m-auto bg-gray-100 text-gray-500 p-2 md:p-10 flex flex-col mt-10 shadow-md rounded">

        <p class="text-4xl text-center m-10 font-black text-purple">404.</p>

        <h1 class="text-purple">Nooooope !!!</h1>
        <h2>Cette page n’existe pas ou a été déplacée à un autre endroit.</h2>

        {# <img src="/image/boy.png" alt="boy"> #}
        
        <p class="hero-text">
            Cette planète ne figure pas dans notre base de données, vous vous êtes perdu dans la voie lactée. Nous devons vous ramener en lieu sûr au plus vite !
        </p>
        <p><a href="{{path('home')}}" class="btn btn-primary">REVENIR A LA PAGE D'ACCEUIL</a></p>
    </div>
{% endblock %}