<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Spacecoder | Mail{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#7300C4">
        <meta name="application-name" content="SpaceCoder">

        <link rel="stylesheet" href="{{ absolute_url(asset('build/mail.css')) }}">

    </head>
    <body class="main">
        {% include "mail/_partials/_header.html.twig" %}

        <div class="">
            {% block body %}{% endblock %}
        </div>

        {% include "mail/_partials/_footer.html.twig" %}


    </body>
</html>
