{% extends 'mail/base.html.twig' %}

{% block title %}{{subject}}{% endblock %}

{% block body %}


<main>
    <p>Hello !</p>

    <p>Vous venez de faire une demande de restauration de mot de passe.</p>
    <p>Pour cela nous avons créé pour vous un lien de restauration qui vous permettra d’avoir accès à votre compte de nouveau.</p>
    <p>Cliquez sur le lien suivant pour y accéder.</p>
    <p class="text-center my-10 flex flex-col gap-2"> 
        <a class="btn btn-primary" href="{{ url('reset_password_reset', {token: resetToken.token}) }}">LIEN DE RESTAURATION</a>
        ou
        <span class="underline cursor-text text-purple hover:text-purple-light">{{ url('reset_password_reset', {token: resetToken.token}) }}</span>
    </p>

    <p>Ce lien de restauration expirera dans environ {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} à partir du moment où vous avez reçu ce mail.</p>
    <br>

    <p>Cordialement, l'équipe SpaceCoder.</p>
</main>

{% endblock %}