{% extends 'base.html.twig' %}

{% block title %}Verifiez vos mails{% endblock %}

{% block body %}

    <div class=" container mx-auto my-10 flex flex-col items-center text-gray-500 p-5 border shadow-md bg-gray-100 rounded">
        <img src="/image/boy.png" alt="Garçon qui cherche">
        <span class="h1 text-purple">Vous y êtes presque {{ pseudo }}.</span>
        <span>Votre email a bien été modifié, veuillez consulter votre boîte mail pour confirmer votre adresse en cliquant sur le lien fourni.</span>
    </div>

{% endblock %}